@using Simu.Common
@using Simu.Common.Constants


<h1>Profile-Specific-Stuff</h1>

<RadzenTemplateForm TItem="Simu.Models.ProfileModel" Data="Model" OnValidSubmit="OnValidSubmit">
    <div class="row">
        <div class="col-4">
            <div class="col m-1 p-3">
                <RadzenCard class="card-skills">
                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Skyblock Level (0-500):</RadzenText>
                    <RadzenNumeric Min="@ProfileConstants.SKYBLOCK_LEVEL_MIN" Max="@ProfileConstants.SKYBLOCK_LEVEL_MAX" @bind-Value="Model.SkyblockLevel"/>
                    <div class="card-skills-stats">
                        <FormattedStringComponent Strings="@Model.SkyblockLevelBonusFormatted()"/>
                    </div>
                </RadzenCard>
            </div>
            <div>
                Melody
            </div>
            <div>
                Slayer
            </div>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col m-1 p-3">
                    <RadzenCard class="card-skills">
                        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Farming (0-60):</RadzenText>
                        <RadzenNumeric Min="@ProfileConstants.SKYBLOCK_FARMING_MIN" Max="@ProfileConstants.SKYBLOCK_FARMING_MAX" @bind-Value="Model.Level_Farming"/>
                        <div class="card-skills-stats">
                            <FormattedStringComponent Strings="@Model.FarmingLevelBonusFormatted()"/>
                        </div>
                    </RadzenCard>
                </div>
                <div class="col m-1 p-3">
                    <RadzenCard class="card-skills">
                        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Mining (0-60):</RadzenText>
                        <RadzenNumeric Min="@ProfileConstants.SKYBLOCK_MINING_MIN" Max="@ProfileConstants.SKYBLOCK_MINING_MAX" @bind-Value="Model.Level_Mining"/>
                        <div class="card-skills-stats">
                            <FormattedStringComponent Strings="@Model.MiningLevelBonusFormatted()"/>
                        </div>
                    </RadzenCard>
                </div>
                <div class="col m-1 p-3">
                    <RadzenCard class="card-skills">
                        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Combat (0-60):</RadzenText>
                        <RadzenNumeric Min="@ProfileConstants.SKYBLOCK_COMBAT_MIN" Max="@ProfileConstants.SKYBLOCK_COMBAT_MAX" @bind-Value="Model.Level_Combat"/>
                        <div class="card-skills-stats">
                            <FormattedStringComponent Strings="@Model.CombatLevelBonusFormatted()"/>
                        </div>
                    </RadzenCard>
                </div>
                <div class="col m-1 p-3">
                    <RadzenCard class="card-skills">
                        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Foraging (0-540):</RadzenText>
                        <RadzenNumeric Min="@ProfileConstants.SKYBLOCK_FORAGING_MIN" Max="@ProfileConstants.SKYBLOCK_FORAGING_MAX" @bind-Value="Model.Level_Foraging"/>
                        <div class="card-skills-stats">
                            <FormattedStringComponent Strings="@Model.ForagingLevelBonusFormatted()"/>
                        </div>
                    </RadzenCard>
                </div>
                <div class="col m-1 p-3">
                    <RadzenCard class="card-skills">
                        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Fishing (0-50):</RadzenText>
                        <RadzenNumeric Min="@ProfileConstants.SKYBLOCK_FISHING_MIN" Max="@ProfileConstants.SKYBLOCK_FISHING_MAX" @bind-Value="Model.Level_Fishing"/>
                        <div class="card-skills-stats">
                            <FormattedStringComponent Strings="@Model.FishingLevelBonusFormatted()"/>
                        </div>
                    </RadzenCard>
                </div>
                <div class="col m-1 p-3">
                    <RadzenCard class="card-skills">
                        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Enchanting (0-60):</RadzenText>
                        <RadzenNumeric Min="@ProfileConstants.SKYBLOCK_ENCHANTING_MIN" Max="@ProfileConstants.SKYBLOCK_ENCHANTING_MAX" @bind-Value="Model.Level_Enchanting"/>
                        <div class="card-skills-stats">
                            <FormattedStringComponent Strings="@Model.EnchantingLevelBonusFormatted()"/>
                        </div>
                    </RadzenCard>
                </div>
                <div class="col m-1 p-3">
                    <RadzenCard class="card-skills">
                        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Alchemy (0-50):</RadzenText>
                        <RadzenNumeric Min="@ProfileConstants.SKYBLOCK_ALCHEMY_MIN" Max="@ProfileConstants.SKYBLOCK_ALCHEMY_MAX" @bind-Value="Model.Level_Alchemy"/>
                        <div class="card-skills-stats">
                            <FormattedStringComponent Strings="@Model.AlchemyLevelBonusFormatted()"/>
                        </div>
                    </RadzenCard>
                </div>
                <div class="col m-1 p-3">
                    <RadzenCard class="card-skills">
                        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Carpentry (0-50):</RadzenText>
                        <RadzenNumeric Min="@ProfileConstants.SKYBLOCK_CARPENTRY_MIN" Max="@ProfileConstants.SKYBLOCK_CARPENTRY_MAX" @bind-Value="Model.Level_Carpentry"/>
                        <div class="card-skills-stats">
                            <FormattedStringComponent Strings="@Model.CarpentryLevelBonusFormatted()"/>
                        </div>
                    </RadzenCard>
                </div>
                <div class="col m-1 p-3">
                    <RadzenCard class="card-skills">
                        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Taming (0-50):</RadzenText>
                        <RadzenNumeric Min="@ProfileConstants.SKYBLOCK_TAMING_MIN" Max="@ProfileConstants.SKYBLOCK_TAMING_MAX" @bind-Value="Model.Level_Taming"/>
                        <div class="card-skills-stats">
                            <FormattedStringComponent Strings="@Model.TamingLevelBonusFormatted()"/>
                        </div>
                    </RadzenCard>
                </div>
                <div class="col m-1 p-3">
                    <RadzenCard class="card-skills">
                        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Dungeoneering (0-50):</RadzenText>
                        <RadzenNumeric Min="@ProfileConstants.SKYBLOCK_DUNGEONEERING_MIN" Max="@ProfileConstants.SKYBLOCK_DUNGEONEERING_MAX" @bind-Value="Model.Level_Dungeoneering"/>
                        <div class="card-skills-stats">
                            <FormattedStringComponent Strings="@Model.DungeoneeringLevelBonusFormatted()"/>
                        </div>
                    </RadzenCard>
                </div>
            </div>
        </div>
    </div>
</RadzenTemplateForm>


<h2>melody</h2>

<h2>slayer level stats</h2>