



<!-- naviagation bar -->
<RadzenTabs>
    <Tabs>
        <RadzenTabsItem Text="Profile Stuff">
            <Simu.Pages.SheetCategories.Profile Model="ProfileData" OnStatsChanged="NotifyStatsChanged"/>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Accessories">

        </RadzenTabsItem>
        <RadzenTabsItem Icon="save">

        </RadzenTabsItem>
        <RadzenTabsItem Text="Import" Icon="note_add">

        </RadzenTabsItem>
    </Tabs>

</RadzenTabs>






<!--
<h1>Accessories</h1>

<h2># Magical Power</h2>

<h2>Selected Power, tuning points</h2>

<h2>enrichments</h2>

<h2>extra stats (blood god, wolf, ... of power gemstones, soulflow ferocity)</h2>


<h1>Equipment</h1>

<h2>Armor/Equipment (stats, reforges, rarity, enchantments per armour, attributes (mana pool int), stars, hpb)</h2>

<h2>equipment (reforges, rarity)</h2>

<h2>Set Bonus (dropdown of possible set bonuses)</h2>


<h1>Weapon</h1>

<h2>weapon (hpb, more damage, ferocity, reforges, effects, attributes)</h2>

<h2>gemstones (where applicable, dropdown how many)</h2>

<h2>enchantments (one for ultimate enchants)</h2>


<h1>Effects</h1>

<h2>Potions (god, strength, crit, jerry candy, mixin)</h2>

<h2>century cakes</h2>


<h1>Pets</h1>

<h2>pet (dropdown, level, pet item dropdown)</h2>


<h1>Bestiary (conditional)</h1>


<h1>(near the final damage section/breakdown) mode (melee/ranged/magic)</h1>

-->
<div>
    <!--
    Total Values:
    <br />
    Health: 
    <span>@Stats.Health.Total.ToString("N2") 

    </span>
    <br/>
    Defense: 
    <span>@Stats.Defense.Total.ToString("N2") 

    </span>
    <br/>
    True Defense: 
    <span>@Stats.TrueDefense.Total.ToString("N2") 

    </span>
    <br/>
    Strength: 
    <span>@Stats.Strength.Total.ToString("N2") 

    </span>
    <br/>
    Intelligence: 
    <span>@Stats.Intelligence.Total.ToString("N2") 

    </span>
    <br/>
    Crit Chance: 
    <span>@Stats.CritChancePercent.Total.ToString("N2") %
        @if(Stats.CritChancePercent.Total != Stats.CritChancePercent.TotalUncapped) 
        {
            <span> (@Stats.CritChancePercent.TotalUncapped.ToString("N2") %)</span>
        }
    </span>
    <br/>
    Increased Damage: 
    <span>@(Stats.IncreasedDamageMeleePercent.Value.ToString("N2")) % 

    </span>
    <br/>
    Damage Per Hit: 
    <span>@(Calculator.CalculateAverageDamagePerHit().ToString("N2")) 
        
    </span>
    <br/>
    Attack Speed: 
    <span>@(Stats.AttackSpeedPercent.Total.ToString("N2")) %
        @if(Stats.AttackSpeedPercent.Total != Stats.AttackSpeedPercent.TotalUncapped) 
        {
            <span> (@Stats.AttackSpeedPercent.TotalUncapped.ToString("N2") %)</span>
        }
    </span>
    <br/>
    Ferocity: 
    <span>@(Stats.Ferocity.Total.ToString("N2"))</span>
    <br/>
    Damage Per Second: 
    <span>@(Calculator.CalculateDamagePerSecond().ToString("N2"))</span>
    <br/>
    Magic Find: 
    <span>@(Stats.MagicFind.Total.ToString("N2"))</span>
    <br/>
    Pet Luck:
    <span>@(Stats.PetLuck.Total.ToString("N2"))</span>
    <br/>
    Dungeonized Bonus:
    <span>@(Stats.DungeoneeringDungeonizedMultiplier.Value.ToString("N2")) %</span>
    -->
</div>